body {
  background: #2d2e2e;
  color: #e0ffff;
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}